/* Global variables for changing colours across the site */
:root {
  --accent: #226997;
	--main: #333;
	--light: #666;
	--lighter: #f3f3f3;
	--border: #e6e6e6;
	--bg: #fff;
  --code: #f3f3f3;
  --hof-border: #F9A825;
  --hof-bg: #FFF9C4;

  --serif: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
}

/* Define colours for auto dark mode */
@media (prefers-color-scheme: dark) {
    :root {
			--accent: #3493d1;
			--main: #f3f3f3;
			--light: #ececec;
			--lighter: #666;
			--border: #e6e6e6;
			--bg: #333333;
      --code: #4d4d4d;
      --hof-border: #ffd42a;
      --hof-bg: #806600;
    }
}

/* Make the website responsive */
@media screen and (max-width: 100%) {
  .main, .header, .footer{
    width: 45rem;
  }
}

* {
  font-family: var(--serif);
}

.main, .header, .footer {
  float: center;
  width: 100%;
	max-width: 45rem;
	margin: 0 auto;
}

.footer {
	margin-top: 6em;
	text-align: center;
	border-top: 1px solid var(--border);
}

.footer p {
  font-size: 0.75em;
}

html {
  scroll-behavior: smooth;
}

p.sitelogo {
	font-size: 1.5em;
	display: inline-block;
	float: left;
	margin: 0 auto;
}

/* Format Navigation */
.menubtn {
	border: 1px solid var(--main);
  color: var(--main);
  padding: 0.8rem 1rem;
	cursor: pointer;
	border-radius: 2rem;
	transition: 0.2s;
	white-space: nowrap;
}

.menubtn:hover {
	background: var(--lighter);
	color: var(--main);
	text-decoration: none;
}

a.menubtn {
	color: var(--main);
  font-size: 0.8em
}

a.menubtn:hover, a.menubtn:focus, a.menubtn:active {
	border-bottom: 1px solid;
}

a.logo, a.logo:active {
  border: none;
}

a.logo:hover {
  opacity: 0.7;
  transition: 0.2s;
  border: none;
}

p.menu {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bold;
}

p.sub-heading {
  font-size: 1.3em;
  margin-top: -1em;
}

p.sub-heading, h1.logo {
  text-align: center;
}

.medium {
  font-size: 1.2em;
  font-weight: bold;
}

.halloffame {
  border-radius: 5px;
  border: 2px solid var(--hof-border);
  background: var(--hof-bg);
  color: var(--main);
  padding: .5rem 0;
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
}

a.sitelogo, a.sitelogo:hover, a.sitelogo:visited, a.sitelogo:active {
	border: none;
}

ul.social {
	list-style: none;
	margin-bottom: 4em;
	margin-top: -1em;
	padding-left: 0;
}

ul.social li {
	display: inline;
	padding-right: 10px;
}

ul.social li a, a:visited {
	border: none;
}

ul.social li a:hover, a:active {
	opacity: 0.5;
	transition: 0.2s;
}

a.post-link {
	border: none;
}

a.post-link:hover, a.post-link:visited, a.post-link:active {
	border-bottom: 2px dotted;
}

ul.menu {
	list-style: none;
	line-height: 1.7em;
}

.active {
	background-color: var(--light);
	color: var(--bg) !important;
}

/* Format the main body of the website */
body, .header {
	background: var(--bg);
	color: var(--main);
	line-height: 1.5;
  font-size: calc(15px + 4 * (100vw / 1500));
}

/* Typography */
p {
	margin-bottom: 1.5em;
}

p.meta {
  font-size: 0.9em;
  font-style: italic;
  color: var(--light);
  margin-top: -0.6em;
}

p.home-meta {
	font-size: 0.9em;
	font-style: italic;
	color: var(--light);
	margin-top: -0.6em;
	margin-bottom: 5em;
  }

figcaption {
	font-size: 0.8em;
	font-style: italic;
	text-align: center;
	margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h1.title {
	font-size: 2.1em;
	line-height: 1em;
	margin: 0 0 .4em 0;
}

h2 {
	font-size: 1.6em;
	margin-top: 2em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

i.hash {
  font-size: 0.8em;
  color: var(--light);
}

blockquote {
    margin-left: 2em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: .4rem .8rem;
    border-left: .35rem solid var(--accent);
    color: var(--light);
    font-style: italic;
}

cite {
  font-size: 0.8em;
  font-style: italic;
}

code, kbd, tt, var {
  font-family: monospace;
  color: var(--main);
  background: var(--code);
  line-height: 1.25;
  padding: 2px 7px 2px 7px;
  border-radius: 5px;
}

/* Format the images */
img {
	max-width: 100%;
	height: auto;
}

img.header-logo {
	float: clear;
}

/* Format hyperlinks & buttons */
a, a:visited {
	color: var(--main);
	text-decoration: none;
	border-bottom: 2px solid;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	border-bottom: 2px dotted;
}

.button {
	padding: 0.5em .5em;
	margin: 0 .5em 0 0;
	border: 1px solid var(--main);
	border-radius: 4em;
	color: var(--main);
	transition: 0.5s;
	line-height: 3rem;
	white-space: nowrap;
}

.button:hover, .button:active, .button:focus, .button:visited {
	background: var(--lighter);
	color: var(--main);
	text-decoration: none;
  border: 1px solid var(--main);
}

p.blue-banner {
	padding: 20px 30px;
	background: #226997;
	color: #fff;
}

/* Other stuff */

.comment-notice {
    border-top: 1px solid var(--border);
}


ul.feed-list {
	list-style: none;
	padding-left: 0;
  font-size: 1.2em;
  text-align: center;
}

ul.feed-list li {
	display: inline;
	padding-right: 1.5em;
  white-space:nowrap
}

ul.feed-list li a, a:visited {
	border: none;
}

ul.feed-list li a:hover, a:active {
	opacity: 0.5;
	transition: 0.2s;
}
